
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


::-webkit-scrollbar {
  height: 10px; /* Set the height of the scrollbar */
  background-color: #405189; /* Set the background color of the scrollbar track */
  width: 5px;
  transition: ease;
}

::-webkit-scrollbar-thumb {
  height: 70px;
  background-color: #ABB9E8; /* Set the color of the scrollbar thumb */
  border-radius: 70px; /* Set the border radius of the scrollbar thumb */
}

/* Firefox */
::-moz-scrollbar {
  height: 5px; /* Set the height of the scrollbar */
  background-color: #f0f0f0; /* Set the background color of the scrollbar track */
}

::-moz-scrollbar-thumb {
  /* height: 50px; */
  background-color: #ABB9E8; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Set the border radius of the scrollbar thumb */
}

.hidden-menu{
  /* display: none; */
}
.addTransition{
  /* display: inline;
   transition: 3s ease;  */
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay {
  transition-duration: 400ms;
}
.rotate-down{
  transition-duration: 400ms;
  transform: rotate(90deg);
}
.rotate-right {
  transition-duration: 400ms;
  transform: rotate(0deg);
}


@keyframes bounce {
  0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.bounce-it {
  animation: ease-in-out;
}

/* .appBlue-300 {
  background-color: #aaa;
} */